#cursor {
  position: absolute;
  z-index: 2;
  cursor: none;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background: image-url('cursor.png');
  background-size: 50px 50px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
