@import "ronpa/ronpa";

#poster {
    display: inline-block;
    position: absolute;
    padding: 4px 12px 4px 12px;
    margin-left: 4px;
    height: 24px;
    z-index: 11;
    background: $UIBack;
    border: 0px $UIColor solid;
    border-top-width: 4px;
    border-radius: 20px;
    .button {
        height: 20px;
    }
}

#content {
    height: 14px;
    width: 300px;
    border-radius: 10px;
}

#questionMark {
    display: inline-table;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    width: 28px;
    height: 28px;
    border-radius: 18px;
    border: 4px $UIColor solid;
    background: $UIBack;
    color: white;
    position: relative;
    z-index: 12;
}

#questionMark::after {
    border-radius: 5px;
    background: #abcdef;
    color: #000;
    position: absolute;
    left: 0%;
    top: 130%;
    content: attr(data-tooltip);
    white-space: nowrap;
    padding: 5px 15px;
    margin-bottom: 15px;
    opacity: 0;
    transition: all 0.4s ease;
}

#questionMark:hover::after {
    top: 90%;
    opacity: 1;
}

#characterSelector {
  display: none;
  position: fixed;
  background: $UIBack;
  border: 0px $UIColor solid;
  border-top-width: 4px;
  border-radius: 20px;
  padding: 12px 0px 0px 12px;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.thumbnail {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image_picker_image {
  width: 300px;
  -ms-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}
