<div id="charater"></div>
<div id="questionMark" data-tooltip="The word between '*[' and ']' color as weak point.">?</div>
<div id="poster">
  <input id="content" type="text"/>
  <button id="sendButton" onclick="App.ronpa.speak()">送信</button>
</div>

<script type="text/template" id="sentenceTemplate">
  <div class="sentence"></div>
</script>

<script type="text/template" id="weakPointTemplate">
  <span class="weakPoint" data-word=""></span>
</script>
