<%
  tool_tip = 'The word between *[ and ] color as weak point.'
  tool_tip += 'Use tab key to color text selection.'
%>

<div id="charater"></div>
<div id="questionMark" data-tooltip="<%= tool_tip %>">?</div>
<div id="poster">
  <input id="content" type="text"/>
  <select id="type">
    <option value="sentence">Sentence</option>
    <option value="noise">Noise</option>
  </select>
  <button id="sendButton" onclick="ronpaChannel.speak()">Send</button>
</div>


<script type="text/template" id="sentenceTemplate">
  <div class="sentence"></div>
</script>

<script type="text/template" id="noiseTemplate">
  <div class="sentence noise"></div>
</script>

<script type="text/template" id="weakPointTemplate">
  <span class="weakPoint" data-word=""></span>
</script>
